@import 'partials/setup';
@import 'partials/hamburger';



$font-body: 'Nunito', sans-serif;

$color-brown:#320F08;
$color-green:#394F48;
$color-olive:#65752E;
$color-cream:#EFDE7F;

// Beer Icon created by Nate Bruzdzinski from the Noun Project
// Frost Mug created by parkjisun from the Noun Project

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

.flex {
	display: flex;
	flex-flow: row wrap;
}
body {
	font-family: $font-body;
	max-width: 1200px;
	margin: 0 auto;
}

html {
	font-size: 62.5%;
}

.active {
	border-bottom: 3px solid black;

}
nav {
	display: none;
}
.desktopNav {
	width: 65%;
}


@media(max-width: 650px){
	nav {
		display: block;
	}
	.desktopNav {
		display: none;
	}
}